@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@import "tw-animate-css";

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-primary-hover: var(--primary-hover);
}

:root {
	--radius: 0.625rem;
	--background: #ffffff;
	--foreground: #272727;
	--primary: #232323;
	--primary-foreground: #ffffff;
	--primary-hover: #404040;
	--secondary: #f7f7f7;
	--secondary-foreground: #373737;
	--muted: #f7f7f7;
	--muted-foreground: #8e8e8e;
	--accent: #f7f7f7;
	--accent-foreground: #373737;
	--destructive: #ff6100;
	--border: #ebebeb;
	--input: #ebebeb;
	--ring: #b5b5b5;
	--card: #ffffff;
	--card-foreground: #272727;
	--popover: #ffffff;
	--popover-foreground: #272727;
	--chart-1: #f6a700;
	--chart-2: #3cb4e5;
	--chart-3: #4e6be6;
	--chart-4: #ffe66d;
	--chart-5: #ffe04d;
	--sidebar: #fcfcfc;
	--sidebar-foreground: #272727;
	--sidebar-primary: #353535;
	--sidebar-primary-foreground: #fcfcfc;
	--sidebar-accent: #f8f8f8;
	--sidebar-accent-foreground: #353535;
	--sidebar-border: #ebebeb;
	--sidebar-ring: #b5b5b5;
}

body,
html {
	font-family: "Nunito", sans-serif;
}

/* For Blog Theme */
/* Apply Nunito to all markdown text */
.markdown-body {
	font-family: "Nunito", sans-serif !important;
}

/* Remove bottom line from h1 */
.markdown-body h1 {
	border-bottom: none !important;
	margin-bottom: 0.5rem !important;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
	font-family: "Inter", sans-serif !important;
	color: #333333 !important;
}

/* Remove backticks for inline blocks */
.markdown-body code::before,
.markdown-body code::after {
	content: none !important;
}
.markdown-body {
	font-size: 1rem !important; /* md size (16px) */
	line-height: 2 !important;
}

.markdown-body ul {
	list-style-type: disc;
	list-style-position: inside;
}

.markdown-body ul li::marker {
	color: var(--markdown-bullet-color, #585858); /* customizable via CSS var, fallback to a blue */
}

.markdown-body ol {
	list-style-type: decimal;
	list-style-position: inside;
}

.markdown-body ul,
.markdown-body ol {
	list-style-position: outside !important;
	padding-left: 1.5em !important;
	margin-left: 0 !important;
}

.markdown-body li {
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}

.markdown-body hr {
	border-width: 2px 0 0 0 !important;
	height: 2px !important;
	border-color: #b9bbbe !important; /* Tailwind slate-200 */
	margin-top: 2rem;
	margin-bottom: 2rem;
}
