@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700;800;900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@theme inline {
	--color-background: var(--color1);
	--color-foreground: var(--color4);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--color1);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--nunito: var(--nunito);
	--montserrat: var(--montserrat);
	--roboto-mono: var(--roboto-mono);
	--color-primary: var(--color3);
	--color-primary-hover: var(--color5);
	--color-ring: var(--color8);
	--color-color1: var(--color1);
	--color-color2: var(--color2);
	--color-color3: var(--color3);
	--color-color4: var(--color4);
	--color-color5: var(--color5);
	--color-color6: var(--color6);
	--color-color7: var(--color7);
	--color-color8: var(--color8);
	--color-color9: var(--color9);
}

:root {
	--secondary: #000000;
	--secondary-foreground: #202020;
	--muted: #f7f7f7;
	--muted-foreground: #8e8e8e;
	--accent: #f7f7f7;
	--accent-foreground: #373737;
	--destructive: #ff4000;
	--border: #ebebeb;
	--input: #ebebeb;
	--card: #ffffff;
	--card-foreground: #272727;
	--popover: #ffffff;
	--popover-foreground: #272727;
	--chart-1: #f6a700;
	--chart-2: #3cb4e5;
	--chart-3: #4e6be6;
	--chart-4: #ffe66d;
	--chart-5: #ffe04d;
	--sidebar: #fcfcfc;
	--sidebar-foreground: #272727;
	--sidebar-primary: #353535;
	--sidebar-primary-foreground: #fcfcfc;
	--sidebar-accent: #f8f8f8;
	--sidebar-accent-foreground: #353535;
	--sidebar-border: #ebebeb;
	--sidebar-ring: #b5b5b5;
	--radius: 0.825rem;
	--nunito: "Nunito";
	--montserrat: "Montserrat";
	--roboto-mono: "Roboto Mono";
	--gotham: "Gotham";
	--primary-font: "Montserrat";
	/* Testing Theme */
	/* --color1: #ff0000;
	--color2: #0000ff;
	--color3: #00ff00;
	--color4: #0f6d00;
	--color5: #14005e;
	--color6: #762626;
	--color7: #ee4e4e;
	--color8: #3f2424;
	--color9: #bdffb8; */

	/* Light Theme */
	--color1: #f5f5f5;
	--color2: #000000;
	--color3: #143a62;
	--color4: #4f637f;
	--color5: #2e2e2e;
	--color6: #ebebeb;
	--color7: #ffffff;
	--color8: #b5b5b5;
	--color9: #94a3b8;
}

body,
html {
	font-family: "Montserrat";
	background-color: var(--color1);
	scroll-behavior: smooth;
}

::selection {
	background: var(--color2); /* Your custom background color */
	color: var(--color7); /* Your custom text color */
}

/* For Blog Theme */
.markdown-body {
	font-family: var(--primary-font), sans-serif !important;
}

/* Remove bottom line from h1 */
.markdown-body h1 {
	border-bottom: none !important;
	margin-bottom: 0.5rem !important;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
	font-family: var(--primary-font) !important;
	color: var(--color2) !important;
	font-weight: 700 !important;
}
.markdown-body {
	font-size: 1rem !important;
	line-height: 2 !important;
}

.markdown-body a {
	color: #1061ac !important;
}

.markdown-body ul {
	list-style-type: disc;
	list-style-position: inside;
}

.markdown-body ul li::marker {
	color: var(--color4, #585858);
}

.markdown-body ol {
	list-style-type: decimal;
	list-style-position: inside;
}

.markdown-body ul,
.markdown-body ol {
	list-style-position: outside !important;
	padding-left: 1.5em !important;
	margin-left: 0 !important;
}

.markdown-body li {
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}

.markdown-body hr {
	border-width: 2px 0 0 0 !important;
	height: 2px !important;
	border-color: #b9bbbe !important;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

/* Additional offset for all anchor links due to navbar */
:target {
	scroll-margin-top: 6rem;
}

/* Prevent address bar from hiding on mobile browsers */
@media (max-width: 767px) {
	html {
		overflow: hidden;
		width: 100%;
	}

	body {
		height: 100%;
		position: fixed;
		/* prevent overscroll bounce */
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		/* iOS velocity scrolling */
	}
}
